.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#wrap{
  position: relative;
}

.newWindowIcon {
 height:12px;
 margin-left: 5px;
}

/*header*/

#wrap header {
  width: 100%;
  position: fixed;
  z-index: 50;
  top:0;
  left:0;
  background: #fff;
}

#headerWrap {
  width: 1050px;
  height:40px;
  background: #fff;
  margin: 0 auto;
}

.headerBox {
  float:left;
}

#logo {
  float: left;
  width:200px;
  text-align: center;
  overflow: hidden;
}

#logo a {
  width: 100%;
  height: 40px;
  display: block;
}

#logo a img {
background: #fff;
}

#mainPage {
  float: left;
  width:550px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  margin-left: 50px;
}

#mainPage a {
  width: 100%;
  height: 40px;
  display: block;
}

#mainPage a img {
background: #fff;
}

#searchBox {
  float:right;
}

#searchBox #search {
  height: 30px;
  width: 150px;
  margin-top: 5px;
}

#searchButton {
  margin-left:-5px;
  background: rgb(0, 219, 97);
  border:none;
  height:30px;
  width:40px;
  cursor: pointer;
  vertical-align: middle;
}

#subnav {
  float:right;
  margin-top: 10px;
  margin-right: 10px;
}

#subnav #loginBox {
  border: 1px solid #ddd;
  font-size: 10px;
  text-align: center;
  width: 40px;
  height:20px;
  line-height: 20px;
  cursor: pointer;
}

.headerNav {
  height:40px;
  clear:both;
  background: rgb(0, 219, 97);
}

.headerNav>ul {
  width:1050px;
  margin: 0 auto;
}

.headerNav>ul>li {
  float:left;
  width:150px;
  height:30px;
  line-height: 30px;
  padding: 5px 0;
}

.headerNav>ul>li:last-child a{
  border: none;
}

.headerNav>ul>li:hover>a {
  font-size: 1.1em;
}

.headerNav>ul>li>a.now {
  color:#fff;
  font-size: 1.1em;
  background: rgb(0, 157, 11);
}

.headerNav>ul>li>a.now~ul>li>a.now {
  font-weight: bold;
}

.headerNav>ul>li>a {
  display: block;
  width:100%;
  height: 100%;
  text-align: center;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.headerNav>ul>li ul {
  display: none;
}

.headerNav>ul>li .headerNavList {
  width:150px;
  padding: 5px 0;
  border-bottom:1px solid #fff;
  height:30px;
  line-height: 30px;
  text-align: center;
  background: rgb(0, 200, 100);
  font-size: 12px;
}

.headerNav>ul>li ul.now {
  display: block;
}

.headerNav>ul>li .headerNavList a {
  display: block;
  width: 100%;
  height: 100%;
}

.headerNav>ul>li .headerNavList a:hover {
  font-size: 1.1em;
}

/*container*/
.container {
  width: 100%;
  margin-top: 80px;
}

footer {
  width: 1050px;
  margin: 0 auto;
}

footer p{
  text-align: center;
}

#notice {
  width:1050px;
  height: 30px;
  line-height: 30px;
  margin:5px auto;
  border:1px solid #ddd;
}

#notice div {
  float:left;
  margin-left: 10px;
  font-size: 12px;
  height:20px;
  line-height: 20px;
  margin-top: 5px;
}

#notice div a:hover {
  font-weight: bold;
}

#topBtn {
  width:50px;
  height:50px;
  background: #000;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom:10px;
  left:50%;
  margin-left: 535px;
}

#mobileBtn {
  display: block;
  width:100%;
  height:100px;
  line-height: 100px;
  font-size:2.5em;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  background: #ddd;
  color: rgb(0, 157, 11);
  display: none;
}

@media screen and (max-width: 960px) {
  #mobileBtn {
    display: block;
  }
}
