.container .sliderBox {
  background: skyblue;
  height: 600px;
}

.container .sliderBox .sliderWrap {
  width: 100%;
  height: 575px;
  position: relative;
}

.container .sliderBox .sliderWrap .slider {
  height:100%;
  float:left;
  width: 100%;
  display: none;
}

.container .sliderBox .sliderWrap .slider.now {
  display: block;
}

.container .sliderBox .sliderWrap .slider.slide1 {
  background: #f47272;
}

.container .sliderBox .sliderWrap .slider.slide2 {
  background: orange;
}

.container .sliderBox .sliderWrap .slider.slide3 {
  background: yellow;
}

.container .sliderBox .sliderWrap .slider.slide4 {
  background: lightgreen;
}

.container .sliderBox .sliderWrap .slider.slide5 {
  background: skyblue;
}

.container .sliderBox .sliderWrap .slider.slide5 {
  background: #ddd;
}

.container .sliderBox .sliderWrap .slider .listWrap {
  margin:0 auto;
  width: 1050px;
}

.container .sliderBox .sliderWrap .slider .slideList {
  width:195px;
  height:280px;
  border:1px solid #000;
  float:left;
  position: relative;
  box-sizing: border-box;
  margin-right: 18.75px;
  margin-top: 5px
}

.container .sliderBox .sliderWrap .slider .slideList:nth-child(5) {
  margin-right: 0px;
}

.container .sliderBox .sliderWrap .slider .slideList:last-child {
  margin-right: 0px;
}

.container .sliderBox .sliderWrap .slider .slideList>div{
  position: absolute;
  top:0;
  left:0;
  background: yellow;
  font-weight: bold;
  color:red;
  width:20px;
  height:20px;
  text-align: center;
}

.container .sliderBox .sliderWrap .slider .slideList .listClickMenu {
  display: block;
  width:195px;
  height:280px;
  position: absolute;
  background: rgb(164, 154, 154, 0.5);
  top:0;
  left:0;
  display: none;
}

.container .sliderBox .sliderWrap .slider .slideList .listClickMenu.now {
  display: block;
}

.container .sliderBox .sliderWrap .slider .slideList .listClickMenu ul {
  margin:100px auto;
  width:100px;
  height:80px;
}

.container .sliderBox .sliderWrap .slider .slideList .listClickMenu ul li {
  text-align: center;
  height:30px;
  line-height: 30px;
  background: orange;
}

.container .sliderBox .sliderWrap .slider .slideList .listClickMenu ul li:first-child {
  margin-bottom: 20px;
}

.container .sliderBox .sliderWrap .slider .slideList .listClickMenu ul li a {
  display: block;
  width: 100%;
  height:100%;
}

.container .sliderBox .sliderWrap .slider .slideList .listClickMenu ul li a:hover {
  background: #fff;
}

.container .sliderBox .sliderWrap .sliderBtn {
  position: absolute;
  background: rgb(255, 255, 255, 0.7);
  border-radius: 50px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  margin-top:-25px;
  cursor: pointer;
  z-index: 3;
}

.container .sliderBox .sliderWrap .sliderBtn:hover {
  color: red;
  background: #fff;
}

.container .sliderBox .sliderWrap .sliderBtn.prev {
  top:50%;
  left:3%;
}

.container .sliderBox .sliderWrap .sliderBtn.next {
  top: 50%;
  right: 3%;
}

.container .sliderBox .sliderWrap .sliderBtnBox {

}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu {
  height: 20px;
  margin:0 auto;
  width:360px;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li {
  float:left;
  background: #fff;
  width:60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  box-sizing: border-box;
  border-right:none;
  font-size: 10px;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li:first-child {
  margin-left: 0;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li:last-child {
  border-right: 1px solid #000;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li:hover {
  background: #000;
  color: #fff;
  font-weight: bold;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li.now {
  background: #000;
  color: #fff;
  font-weight: bold;
}

.container .contentsWrap {
  clear:both;
  width:1050px;
  margin: 0 auto;
}

.container .contentsWrap article {
  background: rgb(164, 95, 254);
}

.container .contentsWrap .reviewsEvents {
  margin-top:5px;
  height:300px;
}

.container .contentsWrap .reviewsEvents>div {
  float:left;
  height: 100%;
  background: orange;
}

.container .contentsWrap .reviewsEvents .review {
  width: 650px;
}

.container .contentsWrap .reviewsEvents .review>div {
  background: yellow;
  height:30px;
  line-height: 30px;
}

.container .contentsWrap .reviewsEvents .review .reviewList {
  height:40px;
  line-height: 40px;
  background: gold;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle {
  width:650px;
  float: left;
  position: relative;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .miniTitle {
  width:535px;
  float: left;
  position: relative;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle>div {
  float:left
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle .miniPointWrap {
  position: absolute;
  top:0;
  right:20px;
  width: 200px;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle .miniPointWrap .rateYo {
  float: left;
  margin:10px 0;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle .miniPoint {

}

.container .contentsWrap .reviewsEvents .review .reviewList .miniReviews{
  display: none;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .miniReviews{
  float: left;
  display: block;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniReviews .miniReview{
  height: 30px;
  line-height: 30px;
  width:500px;
  background: pink;
  margin-bottom:5px;
  overflow: hidden;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now {
  height:150px;
  background: #fff;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniPoster {
  float: left;
  height:140px;
  min-width: 100px;
  margin: 5px;
  display: none;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .miniPoster {
  display: block;
}

.container .contentsWrap .reviewsEvents .event {
  width:400px;
  height: 300px;
  background: pink;
}

.container .contentsWrap .reviewsEvents .event .eventWrap {
  background: rgb(254, 234, 95);
  height:30px;
  line-height: 30px;
}

.container .contentsWrap .reviewsEvents .event .eventWrap .eventTab {
  float: left;
  margin-left: 10px;
}

.container .contentsWrap .reviewsEvents .event .eventWrap .eventPage {
  float: right;
  margin-right: 10px;
}

.container .contentsWrap .reviewsEvents .event .eventImage {
  height: 270px;
  background: blue;
  text-align: center;
}

.container .contentsWrap .trailer{
  position: relative;
  height: 235px;
}

.container .contentsWrap .trailer>div {
  background: #ddd;
  height:30px;
  line-height: 30px;
}

.container .contentsWrap .trailer .trailerList {
  float:left;
  width:245px;
  height:185px;
  background: yellow;
  margin-top:10px;
  margin-left:15px;
}

.container .contentsWrap .trailer .trailerList a {
  display: block;
  width: 100%;
  height: 100%;
}

.container .contentsWrap .trailer>a{
  position: absolute;
  top:0;
  right:0;
  width:50px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background: lightgreen;
}
