.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: #888;
}

#wrap{
  width:100%;
  position: relative;
  background: #888;
}

.newWindowIcon {
 height:50%;
 margin-left: 5%;
}

/*header*/

#wrap header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 50;
  top:0;
  left:0;
  background: #fff;
  border-bottom: 2px solid rgb(0, 219, 97);
}

#headerWrap {
  width: 100%;
  background: #fff;
  margin: 0 auto;
}

.headerBox {
  text-align: center;
  background: #fff;
}

#logo {
  width:25%;
  float: left;
}

#logo a {
  display: block;
  text-align: left;
}

#logo a img {
  height: 70px;
}

#mainPage {
  width:50%;
  float: left;
}

#mainPage a {
  width: 100%;
  padding: 15px 0;
  display: block;
  height: 40px;
}

#logo a img {
  display: block;
}

.sideBarBtn {
  float: left;
  height: 100%;
  width:25%;
}

.sidebarWrap {
  height:100%;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 51;
  display: none;
}

.sidebarWrap .sidebarClose {
  height:100%;
  width:50%;
  background: rgb(255, 255, 255, 0.7);
  position: fixed;
  top:0;
  right: 0;
}

.sidebarWrap .sidebar {
  height:100%;
  width:50%;
  background: #fff;
  border-right: 1px solid #888;
  box-sizing:border-box;
  padding-right: 1px;
  position: relative;
}

.sidebarWrap.open {
  display: block;
}

#subnav {
  height: 15%;
  width: 100%;
}

#subnav #loginBox {
  background: rgb(0, 219, 97);
  border: 1px solid #fff;
  box-sizing: border-box;
  font-size: 1.1em;
  text-align: center;
  width: 70%;

  height: 50%;
  margin-left: 15%;
  margin-top: 15%;
}

.sidebar>ul {
  width:100%;
}

.sidebar>ul>li {
  width:100%;
  min-height:5%;
  border-bottom:1px solid #888;
}

.sidebar>ul>li>a {
  margin-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
}

.sidebar>ul>li:first-child {
  margin-top:0;
}

.sidebar>ul>li.now {
  color:red;
  font-weight: bold;
  background: rgb(255, 255, 255);
}

.sidebar>ul>li .sideBarMenu {
  min-height:5%;
  width:100%;
  padding: 10px 0;
}

.sidebar>ul>li .sideBarMenu>em {
  font-size: 0.8em;
  padding-left: 10px;
}

.sidebar>ul>li ul {

}

.sidebar>ul>li .headerNavList {
  width:100%;
  height:25px;
  line-height: 25px;
  text-align: center;
  background: #ddd;
  display: none;
  padding-top: 5px;
  margin-bottom: 1px;
}

.sidebar>ul>li.now .headerNavList {
  display: block;
}

.sidebar>ul>li .headerNavList a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  text-align: left;
  text-indent: 2em;
}

.sidebar>ul>li .headerNavList a:hover {
  color:red;
  font-weight: bold;
}

.sidebar .closeBtn {
  position: absolute;
  right:0;
  top:0;
  background: #fff;
  width:20px;
  height: 20px;
}

/*container*/
.container {
  width: 100%;
}

footer {
  width: 100%;
  margin: 0 auto;
}

footer p{
  text-align: center;
}

#notice {
  width:100%;
  height: 5%;
}

#notice div {
  float:left;
  margin-left: 1%;
  height:100%;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notice div a{
  color: #fff;
  margin-left: 10px;
  border-bottom: 1px solid #ddd;
  padding:3px;
}

#topBtn {
  width:30px;
  height:30px;
  background: #000;
  color: #fff;

  position: fixed;
  bottom:5%;
  right:5%;
  font-size: 0.8em;
}

#pcBtn {
  display: block;
  clear:both;
  width:100%;
  height:5%;

  font-weight: bold;
  text-align: center;
  background: #ddd;
}

/*index*/

.container {
  clear: both;
}

.container .sliderBox {
  background: #888;
  height: 50%;
  margin-top: 80px;
}

.container .sliderBox .sliderWrap {
  height: 100%;
  position: relative;
}

.container .sliderBox .sliderWrap>ul {
  height: 95%;
}

.container .sliderBox .sliderWrap .slider {
  height:100%;
  display: none;
}

.container .sliderBox .sliderWrap .slider.now {
  display: block;
}

.container .sliderBox .sliderWrap .slider .listWrap {
  height: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.container .sliderBox .sliderWrap .slider .listWrap .slideList {
  width:55%;
  height:100%;
  display: inline-block;
  position: relative;
}

.container .sliderBox .sliderWrap .slider .slideList>div{
  position: absolute;
  top:0;
  left:0;
  font-weight: bold;
  color:#fff;
  font-size: 2em;
  width:20px;
  height:20px;
  text-align: center;
}

.container .sliderBox .sliderWrap .sliderBtnBox {

}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu {
  height: 6%;
  margin:1px auto;
  width:100%;
  text-align: center;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li {
  display: inline-block;
  background: #fff;
  width:15%;
  height: 100%;
  line-height: 20px;
  text-align: center;

  border: 1px solid #000;
  box-sizing: border-box;
  border-right:none;
  font-size: 10px;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li:first-child {
  margin-left: 0;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li:last-child {
  border-right: 1px solid #000;
}

.container .sliderBox .sliderWrap .sliderBtnBox .sliderMenu li.now {
  background: #000;
  color: #fff;
  font-weight: bold;
}

.container .contentsWrap {
  clear:both;
  width:100%;
  margin: 0 auto;
}

.container .contentsWrap article {
  width: 100%;
}

.container .contentsWrap .reviewsEvents {
  margin-top:5px;
  height:300px;
}

.container .contentsWrap .reviewsEvents>div {
  float:left;
  height: 100%;
}

.container .contentsWrap .reviewsEvents .review {
  width: 100%;
}

.container .contentsWrap .reviewsEvents .review>div {
  background: rgb(0, 219, 97);
  /* color: #fff; */
  font-size:1.2em;
  text-indent: 10px;
  height:30px;
  line-height: 30px;
}

.container .contentsWrap .reviewsEvents .review .reviewList {
  height:40px;
  line-height: 40px;
  border-bottom: 1px solid #888;
  background: #fff;
  position: relative;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  font-size: 1.1em;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .miniTitle {
  position: absolute;
  top:0;
  left:110px;
  width: 69%;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle>div {
  float:right;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle>a {
  float:left;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle .miniPointWrap {
  position: absolute;
  top:0;
  right:0;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .miniTitle .miniPointWrap {

}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle .miniPointWrap .rateYo {
  float: left;
  margin-top: 10px
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .rateYo {
  display: none;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniTitle .miniPoint {
  float: left;
  width:50px;
  font-size: 0.8em;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniReviews{
  display: none;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .miniReviews{
  float: left;
  display: block;
  margin-top:40px;
  width:69%;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniReviews .miniReview{
  height: 30px;
  line-height: 30px;
  margin-bottom:5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniReviews .miniReview>a {
  color:#0018ff;
  font-size: 0.9em;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now {
  height:150px;
  background: #fff;
}

.container .contentsWrap .reviewsEvents .review .reviewList .miniPoster {
  float: left;
  height:140px;
  min-width: 100px;
  margin: 5px;
  display: none;
}

.container .contentsWrap .reviewsEvents .review .reviewList.now .miniPoster {
  display: block;
}

.container .contentsWrap .reviewsEvents .event {
  width:100%;
  height: 300px;
}

.container .contentsWrap .reviewsEvents .event .eventWrap {
  background: rgb(0, 219, 97);
  height:40px;
  line-height: 40px;
}

.container .contentsWrap .reviewsEvents .event .eventWrap .eventTab {
  float: left;
  margin-left: 10px;
  font-size: 1.1em;
}

.container .contentsWrap .reviewsEvents .event .eventWrap .eventPage {
  float: right;
  margin-right: 10px;
  height:25px;
  line-height: 25px;
  width:50px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-top: 7px;
  text-align: center;
  color: #fff;
}

.container .contentsWrap .reviewsEvents .event .eventImage {
  height: 250px;
  background: #fff;
  text-align: center;
}

/* movieDetail */

.container .contentsWrap .trailerWrap {
  width:100%;
  margin-top:80px;
  position: relative;
}

.container .contentsWrap .trailerWrap .player {
  width: 100%;
  float:left;
}

.container .outlineWrap {
  background: #fff;
  clear: both;
}

.container .outlineWrap .outlineMenu {
  clear: both;
  height: 20px;
  line-height: 20px;
}

.container .outlineWrap .poster {
  height:200px;
  float: left;
  text-align: center;
}

.container .outlineWrap .title {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.container .outlineWrap .outline li {
  height: 20px;
  line-height: 20px;
  margin: 10px 0;
  font-size: 0.9em;
  text-indent: 1.2em;
}

.container .ticketing .reserveBtn{
  background: #f177a2;
  color: #fff;
  width:100%;
  height:50px;
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}

.container .detailsWrap {
  background: #ddd;
}

.container .detailsWrap .detailsNav {
  background: rgb(0, 219, 97);
  width: 100%;
  height: 50px;
}

.container .detailsWrap .detailsNav .tab {
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}

.container .detailsWrap .detailsNav .tab.now {
  font-size: 1.1em;
  background: rgb(0, 157, 11);
  color:#fff;
}

.container .detailsWrap .details {
  clear:both;
  padding:0 15px;
  margin-top: 10px;
}

.container .detailsWrap .details>div {
  clear:both;
}

.container .detailsWrap .details .detailsTab {
  height: 30px;
  line-height: 30px;;
}

.container .detailsWrap .details .detailsTab .more {
  float: right;
  border: 1px solid #888;
  padding:0 5px;
}

.container .detailsWrap .details .detailsTab>p {
  font-weight: bold;
  font-size: 1.2em;
  float:left;
  padding-bottom: 20px;
}

.container .detailsWrap .details .story {
  margin-bottom: 20px;
}

.container .detailsWrap .details .story .detailsTab>p {
}

.container .detailsWrap .details .story .storylineWrap {
  clear: both;
  text-indent: 10px;
}

.container .detailsWrap .details .story .storylineWrap .keyword {
 font-size: 1.2em;
 margin-bottom: 10px;
 font-weight: bold;
}

.container .detailsWrap .details .story .storylineWrap .storyline {
 margin-bottom: 30px;
 line-height: 2em;
}

.outlines {
  margin-bottom: 30px;
}

.outlines .outlineMenu {
  clear: both;
}

.outlines .outlineMenu div {
  float: left;
  margin:5px 0;
}

.outlines .outlineMenu div:first-child {
  font-weight: bold;
  margin-right: 20px;
}

.container .detailsWrap .details .shortRatings{

}

.container .detailsWrap .details .shortRatings .grades {
  clear: both;
  border:1px solid #888;
  box-sizing: border-box;
}

.container .detailsWrap .details .shortRatings .grades .grade {
  clear:both;
  width:100%;
  border-bottom:1px solid #888;
  box-sizing: border-box;
  background: #fff;
  padding-top: 10px;
}

.container .detailsWrap .details .shortRatings .grades .grade .pointWrap {
  width:100%;
  height: 20px;
  line-height:20px;
}

.container .detailsWrap .details .shortRatings .grades .grade .pointWrap .starPoint {
  float: left;
  margin-left: 10px;
}

.container .detailsWrap .details .shortRatings .grades .grade .pointWrap .point {
  float: right;
  margin-right: 20px;
  color:rgb(0, 36, 255);
}

.container .detailsWrap .details .shortRatings .grades .grade .commentWrap {
  float:left;
  width:100%;
}

.container .detailsWrap .details .shortRatings .grades .grade .commentWrap p{
  margin:5px;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap {
  float: right;
  margin-right:10px;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap div {
  float:left;
  font-size: 0.8em;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap .writer {
  padding-right: 5px;
  border-right: 1px solid #888;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap .writeDate {
  margin-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #888;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap .report {
  margin-left: 5px;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap .report button {
  font-size: 0.9em;
}

.container .detailsWrap .details .shortRatings .likeWrap {
  display: none;
}
