.container .contentsWrap {
  width:1050px;
  background: #fff;
  margin: 0 auto;
}

.container .contentsWrap .trailerBox {
  height:370px;
  width:1050px;
  background: rgb(105,110,113);
  margin-bottom: 5px;
}

.container .contentsWrap .trailerWrap {
  width:780px;
  height:360px;
  margin:0 auto;
  position: relative;
  padding-top: 5px;
}

.container .contentsWrap .trailerWrap .player {
  width: 640px;
  height: 360px;
  float:left;
}

.container .contentsWrap .trailerWrap .trailers {
  float: left;
  width:140px;
  height: 300px;
  margin-top: 28px;
  overflow: hidden;
  text-align: center;
}

.container .contentsWrap .trailerWrap .trailers .trailer {
  margin: 3px;
}

.container .contentsWrap .trailerWrap .trailers .trailer .videos {
  height: 100px;
  cursor: pointer;
}

.container .contentsWrap .trailerWrap .trailers .trailer.hidden {
  display: none;
}

.container .contentsWrap .trailerWrap>button {
  width: 140px;
  height: 28px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.container .contentsWrap .trailerWrap>button.up {
  position: absolute;
  top:5px;
  right: 0;
}

.container .contentsWrap .trailerWrap>button.down {
  position: absolute;
  bottom:0;
  right: 0;
}

.container .outlineWrap {
  background: #fff;
  clear: both;
}

.container .outlineWrap>div {
  text-indent: 10px;
}

.container .outlineWrap .outlines {
  float: left;
}

.container .outlineWrap .outlineMenu {
  clear: both;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.container .outlineWrap .outlineMenu:last-child {
  margin-bottom: 0;
}

.container .outlineWrap .outlineMenu > div{
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 1.1em;
}

.container .outlineWrap .poster {
  width:195px;
  height:280px;
  background: skyblue;
  float: left;
  text-indent: 0;
}

.container .outlineWrap .title {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
}

.container .outlineWrap .outline {
  width:855px;
  height: 20px;
}

.container .outlineWrap .outline li {
  float: left;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  margin-left: 0;
  padding-right: 10px;
  border-right: 1px solid #000;
  text-align: center;
  font-size: 1.1em;
}

.container .outlineWrap .outline li:last-child {
  border:none;
  margin-right: 0;
  padding-right: 0;
}

.container .outlineMenu.ticketing .reserveBtn{
  cursor: pointer;
  background: #f177a2;
  color: #fff;
  width:120px;
  height:50px;
  margin-top: 10px;
}

.container .detailsWrap {
  margin-top: 5px;
}

.container .detailsWrap .detailsNav {
  background: rgb(0, 219, 97);
  width: 100%;
  height: 50px;
}

.container .detailsWrap .detailsNav .tab {
  float: left;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin-right: 20px;
  text-align: center;
}

.container .detailsWrap .detailsNav .tab.now {
  font-size: 1.1em;
  background: rgb(0, 157, 11);
  color:#fff;
}

.container .detailsWrap .detailsNav .tab:hover {
  font-weight: bold;
}

.container .detailsWrap .details {
  clear:both;
  padding:0 15px;
  margin-top: 20px;
}

.container .detailsWrap .details>div {
  clear:both;
}

.container .detailsWrap .details .detailsTab {
  position: relative;
}

.container .detailsWrap .details .detailsTab .more {
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
}

.container .detailsWrap .details .detailsTab>p {
  font-weight: bold;
  font-size: 16px;
  float:left;
  border-bottom:1px solid #888;
  padding-bottom: 20px;
  width:100%;
}

.container .detailsWrap .details .story .detailsTab>p {
  margin-bottom: 20px;
}

.container .detailsWrap .details .story .storylineWrap {
  clear: both;
  text-indent: 10px;
}

.container .detailsWrap .details .story .storylineWrap .keyword {
 font-size: 1.2em;
 margin-bottom: 10px;
 font-weight: bold;
}

.container .detailsWrap .details .story .storylineWrap .storyline {
 margin-bottom: 20px;
 line-height: 2em;
}

.container .detailsWrap .details .shortActorDirector ul {
  clear:both;
  padding-top: 20px;
}

.container .detailsWrap .details .shortActorDirector ul li {
  width:170px;
  float:left;
  margin-bottom: 10px;
}

.container .detailsWrap .details .shortActorDirector ul li div {
  margin: 0 15px;
  margin-bottom: 10px;
}

.container .detailsWrap .details .shortActorDirector ul li .picture {
  width:140px;
  height:175px;
}

.container .detailsWrap .details .shortRatings .grades {
  clear: both;
  margin-bottom: 20px;
}

.container .detailsWrap .details .shortRatings .grades .grade {
  clear:both;
  background: #fff;
  width:100%;
  min-height:60px;
}

.container .detailsWrap .details .shortRatings .grades .grade .pointWrap {
  float:left;
  margin:10px;
  width:200px;
  height: 40px;
  line-height:40px;
}

.container .detailsWrap .details .shortRatings .grades .grade .pointWrap .starPoint {
  margin: 0 auto;
}

.container .detailsWrap .details .shortRatings .grades .grade .pointWrap .point {
  text-align: center;
}

.container .detailsWrap .details .shortRatings .grades .grade .commentWrap {
  float:left;
  margin:10px;
  margin-left:0;
  width:790px;
}

.container .detailsWrap .details .shortRatings .grades .grade .commentWrap p{
  margin:10px;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap {
  float: right;
  margin-right:10px;
  margin-bottom: 10px;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap div {
  float:left;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap .writer {
  padding-right: 5px;
  border-right: 1px solid #000;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap .writeDate {
  margin-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #000;
}

.container .detailsWrap .details .shortRatings .grades .grade .writerWrap .report {
  margin-left: 5px;
}

.container .detailsWrap .details .shortRatings .likeWrap {
  display: none;
}

/*crew*/


.container .detailsWrap .crewWrap>div {
  clear:both;
  margin: 10px;
}

.container .detailsWrap .crewWrap .crewTab {
  background: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #888;
  padding: 10px 0;
}

.container .detailsWrap .crewWrap>div>ul {
  margin-top:10px;
}

.container .detailsWrap .crewWrap>div>ul>li {
  width:515px;
  float:left;
  margin-bottom: 10px;
}

.container .detailsWrap .crewWrap>div>ul>li>div {
  float:left;
  width:365px;
  margin-bottom: 10px;
}

.container .detailsWrap .crewWrap>div ul li .picture {
  width:140px;
  height:175px;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
}

.container .detailsWrap .crewWrap>div>ul>li>.name {
  font-size: 18px;
  font-weight: bold;
}

.container .detailsWrap .crewWrap .crewCompany table tr td:first-child {
  width: 150px;
  height: 30px;
  line-height: 30px;
}

/*grade*/

.container .detailsWrap .gradeWrap>div {
  clear:both;
  margin: 10px;
}

.container .detailsWrap .gradeWrap .gradeTab {
  height: 30px;
  line-height: 30px;
  position: relative;
  border-bottom: 1px solid #888;
  padding: 10px 0;
}

.container .detailsWrap .gradeWrap .gradeTab>p {
  float: left;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReviewBtn {
  height: 35px;
  line-height: 35px;
  float: right;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview {
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -300px;
  margin-top: -375px;
  z-index: 10;
  background: #fff;
  width: 600px;
  height: 750px;
  display: none;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .addReviewTab {
  width:100%;
  height:30px;
  line-height:30px;
  text-indent: 10px;
  color:#fff;
  background: #000;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .addReviewTitle {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview em {
  color:#777;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .question {
  width:550px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  border-top:1px solid #ddd;
  padding-top:10px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .question .starRating {
  width:270px;
  margin: 0 auto;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .question #rateYo {
  float: left;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .question #minbeds {
  float: left;
  height: 20px;
  width: 70px;
  margin-left: 30px;
  top: 50%;
  margin-top:5px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .question.slider em {
  display: block;
  clear: both;
  text-align: center;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .question .ui-slider {
  width:300px;
  height: 18px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .question .ui-slider .ui-slider-handle {
  background: #000;
  height: 24px;
  width: 24px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview textarea {
  resize:none;
  overflow-y: scroll;
  width: 100%;
  border: none;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .textCheck {
  text-align: right;
  margin-right: 20px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .textCheck em{
  color:#000fff;
  font-weight: bold;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .btnWrap {
  width:550px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.container .detailsWrap .gradeWrap .gradeTab .addReview .btnWrap button {
  border:1px solid #000;
  width:100px;
  height:50px;
  line-height: 50px;
  cursor: pointer;
}

.container .detailsWrap .gradeWrap .graphWrap ul li {
  position: relative;
}

.container .detailsWrap .gradeWrap .graphWrap ul li div{
  float: left;
}

.container .detailsWrap .gradeWrap .graphWrap ul li .graphBy {
  clear: both;
  position: absolute;
  top:0;
}

.container .detailsWrap .gradeWrap .graphWrap ul li .graphBy.netizen {
  left:0;
}

.container .detailsWrap .gradeWrap .graphWrap ul li .graphBy.audience {
  right:0;
}

.container .detailsWrap .gradeWrap .graphWrap ul li .graphTotal {
  clear: both;
  margin-top:20px;
}

.container .detailsWrap .gradeWrap .graphWrap ul li .graphBar {
  clear: both;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades {
  clear: both;
  margin-bottom: 20px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade {
  clear:both;
  width:100%;
  min-height:60px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .pointWrap {
  float:left;
  margin:10px;
  margin-left: 0;
  width:200px;
  height: 40px;
  line-height:40px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .pointWrap .starPoint {
  margin:0 auto;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .pointWrap .point {
  text-align: center;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .commentWrap {
  float:left;
  margin:10px 0;
  width:820px;
  min-height: 100px;
  position: relative;
  border-bottom: 1px solid #888;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .commentWrap p{
  margin:10px;
  margin-bottom: 40px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .writerWrap {
  position: absolute;
  left:0;
  bottom:0;
  margin-right:10px;
  margin-bottom: 5px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .writerWrap div {
  float:left;
  border-right: 1px solid #000;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .writerWrap .writer {
  padding-right: 5px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .writerWrap .writeDate {
  margin-left: 5px;
  padding-right: 5px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .writerWrap .report {
  margin-left: 5px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .writerWrap .report .reportBtn {
  cursor: pointer;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .writerWrap div:last-child {
  border:none;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .likeWrap {
  position: absolute;
  right:0;
  bottom:0;
  margin-bottom: 5px;
  width:220px;
}

.container .detailsWrap .gradeWrap .reviewWrap .grades .grade .likeWrap button {
  float: left;
  cursor: pointer;
  margin-right: 10px;
  width:100px;
  border: 1px solid #888;
}
