.container .contentsWrap {
  width:1050px;
  background: #fff;
  margin: 0 auto;
}

.container .contentsWrap>div:first-child {
  font-size: 2em;
  padding: 20px 0;
  border-bottom: 1px solid #888;
}

.container .contentsWrap label {
  font-size: 1.5em;
  margin: 20px 0;
  float: left;
}

#genres {
  height: 30px;
  margin: 20px 0;
  margin-left: 30px;
}

.orderList {
  clear:both;
  width:100%;
  height: 40px;
}

.orderList .orderBy {
  float:left;
  width:200px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 5px;
  border:1px solid #888;
}

.orderList .orderBy.clicked {
  font-weight: bold;
  border: 1px solid #f19377;
}

.rankingTable {
  clear: both;
}

.rankingTable .field>td {
  border: 1px solid rgb(0, 157, 11);
  box-sizing: border-box;
}

.rankingTable .field .ranking {
  background: rgb(0, 219, 97);
  width:100px;
  height:40px;
  line-height: 40px;
  text-align: center;
}

.rankingTable .field .movie {
  background: rgb(0, 219, 97);
  width: 950px;
  height:40px;
  line-height: 40px;
  text-align: center;
}

.record>td {
  height:220px;
  border: 1px solid rgb(0, 157, 11);
  box-sizing: border-box;
}

.record .ranking {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.record .movie >div {

}

.record .movie .outlines {
  position: relative;
}

.record .movie .outlines .poster {
  width:140px;
  height:200px;
  left:0;
  top:0;
  text-indent: 0;
  float: left;
}

.record .movie .title {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
}

.record .movie .title.outlineMenu .subMenu.filmRating {
  height: 25px;
  margin:0;
}

.record .movie .title.outlineMenu .subMenu.title {
  height: 20px;
}

.record .movie .outlineMenu {
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  text-indent: 10px;
}

.record .movie .outlineMenu:last-child {
  margin-bottom: 0;
}

.record .movie .outlineMenu>div{
  float: left;
  height: 20px;
  line-height: 20px;
}

.record .movie .outlineMenu .subMenu {
  margin-right: 10px;
  font-size:1.1em;
}

.record .movie .outline {
  width: 950px;
  height: 20px;
}

.record .movie .outline>li {
  float: left;
  height: 20px;
  line-height: 20px;
  padding-right: 10px;
  border-right: 1px solid #000;
  text-align: center;
  text-indent: 10px;
}

.record .movie .outline li:last-child {
  border:none;
  margin-right: 0;
  padding-right: 0;
}

.record .movie .outlineMenu.media {

}

.record .movie .outlineMenu.media a {
  border:1px solid #888;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  width:50px;
  text-align: center;
  text-indent: 0;
  float: left;
}

.record .movie .outlineMenu.media .videoWrap {
  position: relative;
  height: 30px;
  width:450px;
}

.record .movie .outlineMenu.media .videoWrap .videoTab {
  border:1px solid #888;
  height: 30px;
  line-height: 30px;
  width:80px;
  text-align: center;
  text-indent: 0;
}

.record .movie .outlineMenu.media .videos {
  position: absolute;
  left:80px;
  top:0;
  padding: 3px 0;
  border: 1px solid #888;
  border-left: none;
  display: none;
}

.record .movie .outlineMenu.media .videos.open {
  display: block;
}

.record .movie .outlineMenu.media .videos .video{
  float:left;
  height: 24px;
  line-height: 24px;
  border-right: 1px solid rgb(0, 157, 11);
  padding-right: 10px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 0.9em;
}

.record .movie .outlineMenu.media .videos .video:hover {
  font-weight: bold;
}

.record .movie .outlineMenu.media .videos .video:last-child {
  margin-right: 0;
  border-right: none;
}

.record .movie .reserveBtn{
  cursor: pointer;
  background: #f177a2;
  color: #fff;
  position:absolute;
  right:10px;
  top:50%;
  margin-top:-40px;
  width:100px;
  height:100px;
  line-height: 100px;
  text-align: center;
}

.player {
  position: fixed;
  top:50%;
  margin-top: -270px;
  left:50%;
  margin-left: -320px;
  width:640px;
  height:540px;
  z-index: 55;
  background: #fff;
  border:1px solid rgb(0, 157, 11);
  display: none;
}

.player.open {
  display: block;
}

.player .playerTab {
  width: 100%;
  height:60px;
  line-height: 60px;
  background: rgb(0, 157, 11);
  color:#fff;
  text-indent: 20px;
  font-size:1.5em;
}

.player .playerWrap {
  width:640px;
  height:480px;
}

.player .playerWrap {

}

.player .closeBtn {
  position: absolute;
  top:0;
  right:0;
  width:60px;
  height:60px;
  font-size: 1.5em;
  color:#fff;
  font-weight: bold;
}
