.container .listWrap {
  width:1050px;
  margin:0 auto;
  position: relative;
}

.container .listWrap .listTitle {
  background: #fff;
  padding-left: 30px;
  font-weight: bold;
  font-size: 2em;
  padding:20px 0;
}

.container .listWrap .listOrder {
  position: absolute;
  top:40px;
  right:0;
}

.container .listWrap .listOrder button {
  float:left;
  width:100px;
  cursor: pointer;
  margin-right: 20px;
  border:1px solid #888;
  padding:5px 0;
}

.container .listWrap .listOrder button.clicked {
  font-weight: bold;
  border: 1px solid #f19377;
  color: #f74b17;
}

.listWrap .list {
  border-top:1px solid #000;
}

.container .list .movie {
  width:240px;
  margin-left:30px;
  margin-top:30px;
  float:left;
}

.container .list .movie:last-child {
  margin-bottom: 30px;
}

.container .list .movie {
  position: relative;
}

.container .list .movie .poster {
  width:240px;
  height:343px;
  background: #fff;
}

.container .list .movie .posterMenu {
  display: block;
  width:240px;
  height:343px;
  position: absolute;
  top:0;
  left:0;
  display: none;
  background: rgb(255, 255, 255);
}

.container .list .movie .posterMenu div {
  word-break: keep-all;
  overflow: hidden;
  text-align: center;
}

.container .list .movie .posterMenu.now {
  display: block;
}

.container .list .movie .posterMenu>div {
  width:220px;
  height:233px;
  margin:0 10px;
  font-weight: bold;
  margin-top: 30px;
}

.container .list .movie .posterMenu ul {
  width:200px;
  height:30px;
  margin:25px auto;
}

.container .list .movie .posterMenu ul li {
  text-align: center;
  float: left;
  height:30px;
  line-height: 30px;
  width: 90px;
  margin-left: 20px;
  border:1px solid #888;
  box-sizing: border-box;
}

.container .list .movie .posterMenu ul li:first-child {
  margin-left: 0;
}


.container .list .movie .posterMenu ul li a {
  display: block;
  width: 100%;
  height:100%;
}

.container .list .movie .posterMenu ul li a:hover {
  background: #888;
  color:#fff;
}

.container .list .movie .title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

.container .list .movie .title>a {
  color:#1f00d0;
}
