.container .contentsWrap {
  width:1050px;
  background: #fff;
  margin: 0 auto;
  position: relative;
}

/* 선택부분 */
#tabs {

}

#tabs .tab {
  float:left;
  padding-top: 10px;
}

#tabs .tab.clicked .tabBtn{
  background: #000000;
  color: #fff;
}

#tabs .tab .tabBtn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background: #d1cbcb;
  border: 1px solid #fff;
  border-bottom: none;
  border-left: none;
}

#tabs .tab .tabBtn:hover {
  font-weight: bold;
}

#processes {
  clear: both;
  min-height:590px;
  width: 750px;
  margin-top: 10px;
  border-top: 3px solid #000;
}

#processes .process {
}

#processes .process .selectBtn {
  cursor: pointer;
  width: 100%;
  height:100%;
}

#processes .process.movie{

}

#processes .process.movie .order {
  text-align: right;
  border-bottom: 1px solid #fff;
}

#processes .process.movie .order .orderBtn{
  margin-right: 10px;
  margin-top: 5px;
  height: 20px;
  cursor: pointer;
  background: #333;
  color: #fff;
  width:80px;
  height:30px;
  line-height: 30px;
}

#processes .process.movie .order .orderBtn.clicked {
  font-weight: bold;
}

#processes .process.movie .movieList {
  padding-left: 10px;
  padding-top: 10px;
}

#processes .process.movie .movieList .movies {
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  width:175px;
  margin-right: 10px;
  margin-bottom:10px;
  height: 130px;
  position: relative;
}

#processes .process.movie .movieList .movies .selectBtn {
  font-size: 1.1em;
  word-break: keep-all;
}

#processes .process.movie .movieList .movies:hover .selectBtn {
  font-weight: bold;
  background: #fff;
  font-size: 1.2em;
}

#processes .process.movie .movieList .movies .optionsWrap {
  background: #ddd;
  border: 1px solid rgb(0, 219, 97);
  position: absolute;
  left:20px;
  top:100px;
  z-index: 10;
  word-break: keep-all;
  display: none;
}

#processes .process.movie .movieList .movies .optionsWrap.open {
  display: block;
}

#processes .process.movie .movieList .movies .optionsWrap .option {
  padding:3px 0;
  padding-left: 5px;
  width:150px;
  cursor: pointer;
  font-size: 0.9em;
}

#processes .process.movie .movieList .movies .optionsWrap .option:hover {
  font-weight: bold
}

#processes .process.movie .movieList .movies .optionsWrap .option:nth-child(odd) {
  background: #fff;
}

.gradeIcon {
  display: none;
  position: absolute;
  top:0;
  right:0;
}

.gradeIcon.clicked {
  display: block;
}

#processes .process.theater {
  position: relative;
  display: none;
}

#processes .process.theater .regionList {
  margin-top: 25px;
  padding-left: 10px;
  padding-top: 10px;
}

#processes .process.theater .regionList .regions {
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
  width:175px;
  margin-right: 10px;
  margin-bottom:10px;
  height: 130px;
}

#processes .process.theater .regionList .regions .selectBtn {
  font-size: 1.1em;
}

#processes .process.theater .regionList .regions:hover .selectBtn {
  font-weight: bold;
  font-size: 1.2em;
}

#processes .process.theater .theaterList {
  clear: both;
  background: rgb(255, 255, 255, 0.8);
  position: absolute;
  top:0;
  left:0;
  width:750px;
  height: 600px;
  display: none;
  overflow-y: scroll;
}

#processes .process.theater .theaterList .cityList {
  margin:10px;
  margin-bottom: 0;
  padding-right: 10px;
}

#processes .process.theater .theaterList .cityList .cityName {

  margin-right: 10px;
  background: rgb(0, 219, 97);
  padding:0 10px;
  height: 20px;
  line-height: 20px;
}

#processes .process.theater .theaterList .theaters {
  float: left;
  margin-right: 10px;
  background: #fff;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  border:1px solid #000;
}

#processes .process.theater .theaterList .theaters .selectBtn.theater:hover {
  font-weight: bold;
}

#processes .process.theater .theaterList .theaters .selectBtn.theater {
  padding: 0 10px;
}

#processes .process.date {
  display: none;
}

#processes .process.date > div {
  margin-top: 25px;
}

#processes .process.date #datepicker {
  float: left;
  /* 높이 넓이 400px */
  margin-bottom: 10px;
}

#processes .process.date #timetable {
  float: left;
  width: 342px;
}

#processes .process.date #timetable .timetables {
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 1.5em;
}

#processes .process.date #timetable .chosenDate {
  margin-top: 5px;
  text-indent: 20px;
  font-size: 1.3em;
}

#processes .process.date .times {
  text-indent: 20px;
}

#processes .process.date .times>div {
  font-size: 1.3em;
  margin-top: 5px;
}

#processes .process.date .times .screenWrap {

}

#processes .process.date .times .screenWrap .screen {
  text-indent: 10px;
  font-size: 1.2em;
  margin-top: 10px;
  clear:both;
}

#processes .process.date .times .screenWrap .timetableWrap {
  margin-top: 5px;
}

#processes .process.date .times .screenWrap .timetableWrap .time {
  float: left;
  height: 20px;
  width:75px;
  background: #fff;
  margin: 5px;
}

#processes .process.date #numbers {
  clear: both;
}

#processes .process.date #numbers .inputs {
  margin:10px 20px;
  float: left;
}

#processes .process.date #numbers .inputs label {
  font-size: 1.2em;
}

#processes .process.date #numbers .inputs em {
  color:#333;
  font-size: 0.8em;
}

#processes .process.date #numbers .inputs select {
  height: 30px;
  width: 80px;
}

.closeBtn {
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  margin: 10px;
  width:20px;
  height:20px;
}

.closeBtn:hover {
  font-weight: bold;
}

.process .notice {
  clear:both;
  color:#fe3434;
  text-indent: 10px;
}

/* 미리보기 */

.contentsWrap .reservationInfoWrap {
  background: #333;
  width:300px;
  height:640px;
  text-align: center;
  position: absolute;
  right:0;
  top:0;
}

.contentsWrap #reservationInfo .reserveInfo {
  color:#fff;
  margin: 5px;
  height: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.contentsWrap #reservationInfo .reserveInfo .selected {
  margin-left: 10px;
  text-indent: 10px;
}

.contentsWrap #reservationInfo .reserveInfo.poster {
  background: #ddd;
  height: 415px;
  width: 290px;
}

.contentsWrap #reservationInfo .reserveInfo.title {
  margin-top:10px;
}

.contentsWrap .reservationInfoWrap .reservationBtn {
  display: block;
  border:1px solid #fff;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
  background: #ddd;
  font-size: 1.1em;
}

.contentsWrap .reservationInfoWrap #reservationInfo .reserveInfo p {
  float: left;
}

/*예약확인*/

.contentsWrap #orderCheck {
  background: #333;
  width:500px;
  height:500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  color: #fff;
  display: block;
}

.contentsWrap #orderCheck label {
  font-size: 2em;
}

#orderCheck .checkBtn {
  width: 100px;
  height:50px;
  background: #ddd;
}

#orderIdCheck {
  display: block;
  margin: 50px auto;
  height:40px;
  font-size: 1.1em;
  text-align: center;
}

/*예약완료*/

.contentsWrap #completeReserve {
  background: #333;
  width:500px;
  height:500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

.contentsWrap #completeReserve .completeMessage {
  font-size: 2em;
  margin-bottom: 30px;
  color: #fff;
}

.contentsWrap #completeReserve .reserveInfo {
  margin: 20px 10px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: left;
}

.contentsWrap #completeReserve .reserveInfo .menu {
  width: 100px;
  text-indent: 10px;
  margin-left: 30px;
  font-size: 1.2em;
}

.contentsWrap #completeReserve .reserveInfo .selected {
  margin-left: 20px;
}

.contentsWrap #completeReserve .reserveInfo.poster {
  background: #ddd;
  height: 415px;
  width: 290px;
}

.contentsWrap #completeReserve .reserveInfo.title {
  margin-top:10px;
}

.contentsWrap #completeReserve .reserveInfo p {
  float: left;
}
